%div.row
	%div.col-md-4
		%h3.text-center To Do List
		%div
			= render @to_do

	%div.col-md-4
		%h3.text-center Doing List
		%div
			= render @doing

	%div.col-md-4
		%h3.text-center Done List
		%div
			= render @done