%div.jumbotron
	%h1
		%i.fa.fa-pencil-square-o
		todoApp
	%p A Project Management Tool that has productivity written all over it
	%p
		= link_to "Learn More", about_path, class: "btn btn-primary btn-lg"
		= link_to "Register", new_user_registration_path, class: "btn btn-success btn-lg"